/* general styling */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* above all content */
}

#shop[tabindex="-1"]:focus {
  outline: 0;
}

h1,
h2,
h3 {
  text-shadow: 2px 2px 4px hsla(0, 0%, 39%, .8);
}

h3 {
  font-family: 'Raleway';
  color: white;
  font-size: 1.4em;
  color: white;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Playfair Display';
}

h4 {
  color: #e2574c;
  font-family: 'Playfair Display';
  font-size: 1.5rem;
  text-transform: capitalize;
}

.top-navigation-links li a {
  font-family: 'Raleway';
  text-shadow: none;
  font-size: 1rem;
}

p {
  font-family: 'Raleway';
  font-weight: 300;
  text-shadow: none;
  font-size: 1rem;
}

strong {
  font-weight: bold;
  font-family: 'Playfair Display';
  text-shadow: 2px 2px 4px hsla(0, 0%, 39%, .8);
  font-size: 2rem;
  margin-left: 0.6rem;
}

/* titles */

.featured-title-wrapper,
.sign-up-title-wrapper,
.about-title-wrapper {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.most-loved-products h1,
.sign-up-title-wrapper h1,
.About-Aloha h1 {
  font-size: 2rem;
  font-style: italic;
  font-family: 'Playfair Display';
}

.most-loved-products h1,
.About-Aloha h1,
.most-loved-products strong,
.About-Aloha strong {
  text-shadow: none;
}

/* ===================================================================================================================== */

/* header  */

/* ===================================================================================================================== */

header {
  display: flex;
}

span.header-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 5rem;
  margin-top: 5%;
  margin-left: 1%;
  margin-right: 1%;
}

.logo {
  background-image: url(images/aloha-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  align-items: left;
  height: 3rem;
  width: 50%;
  order: 1;
}

.cart {
  background-image: url(images/cart-icon.svg);
  background-size: contain;
  background-position: top right;
  height: 3rem;
  width: 50%;
  align-items: right;
  align-content: right;
  background-repeat: no-repeat;
  order: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  font-size: 1rem;
}

.cart p{
    min-width: 100%;
    min-height: 100%;
} 

.count-wrapper{
/* 
  width: 2rem;
  height: 2rem; */
  justify-content: center;
  align-items: center;
  display:flex;
}

/* .count-wrapper {
  display: none;
 
} */


#cartCount {
  background-color: red;
  color: white;
  border-radius: 25px;
  width: 1rem;
  height: 1rem;
  text-align: center;
  display:none;
  justify-content: center;
  align-items: center;
 

  
}

.top-navigation-links {
  border-top: 0.05rem solid #d7d7d7;
  list-style: none;
  margin-top: 0.3rem;
  text-align: center;
  order: 3;
  width: 100%;
  height: 3rem;
}

.top-navigation-links li {
  display: inline;
}

.top-navigation-links a {
  display: inline-block;
  padding: 0.25rem;
  margin-top: 0.5rem;
  color: #e2574c;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
}

/* ===================================================================================================================== */

/* BANNER */

/* ===================================================================================================================== */

.banner {
  margin-top: 5%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.25)), url(images/banner-girl.png), url(images/flower-bkgd.jpg);
  background-size: cover, 10rem, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, bottom center, center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30rem;
}

.new-collection {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.new-collection p {
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  z-index: 2;
}

.new-collection h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  z-index: 2;
  color: white;
}

/* ===================================================================================================================== */

/* about */

/* ===================================================================================================================== */

.About {
  margin-bottom: 5%;
}

.About-Aloha {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-bottom: 10%;
}

.about-content {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
  line-height: 2.25rem;
}

.about-content p {
  width: 90%;
  font-size: 0.9rem;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 300;
}

/* ===================================================================================================================== */

/* SHOPPING CATEGORIES  */

/* ===================================================================================================================== */

.shop {
  height: 57rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  object-fit: contain;
  margin-bottom: 3rem;
}

span.men-category-wrapper {
  height: 25%;
  width: 100%;
  flex-grow: 2;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.men-category {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/mens-category.jpg);
}

span.trends-category-wrapper {
  flex-grow: 1;
  width: 45%;
  height: 25%;
  display: flex;
  border-right: 0.5rem solid white;
}

.trends-category {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/trends-category.jpg);
}

span.glasses-category-wrapper {
  flex-grow: 1;
  width: 45%;
  height: 25%;
  border-bottom: 0.5rem solid white;
}

.glasses-category {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/glasses-category.jpg);
}

span.sales-category-wrapper {
  flex-grow: 1;
  width: 45%;
  height: 25%;
  border-right: 0.5rem solid #fff;
}

.sales-category {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/sale-category.jpg);
  background-repeat: no-repeat;
}

span.bags-category-wrapper {
  flex-grow: 1;
  width: 45%;
  height: 25%;
}

.bags-category {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/bags-category.jpg);
}

span.womens-category-wrapper {
  flex-grow: 2;
  width: 100%;
  height: 25%;
  border-top: 0.5rem solid #fff;
}

.womens-category {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/womens-category.jpg);
}

.womens-category,
.bags-category,
.sales-category,
.glasses-category,
.trends-category,
.men-category {
  display: flex;
  align-items: center;
  text-align: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  justify-content: center;
  min-width: 100%;
  height: 100%;
  background-position: center;
}

/* ===================================================================================================================== */

/* CAROUSSEL */

/* ===================================================================================================================== */

.most-loved-products {
  margin-top: 20%;
}

.flickity-enabled {
  position: relative;
  margin-top: 10%;
}

.carousel {
  width: 100%;
  height: 35rem;
}

.carousel p {
  font-size: 0.8rem;
  color: #969696;
  font-family: 'Raleway';
  margin-bottom: 3%;
  text-align: center;
}

.carousel h4 {
  text-align: center;
  margin-bottom: 3%;
}

.carousel-cell {
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  text-align: center;
}

.flickity-button {
  display: none;
}

.flickity-enabled .flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: 3rem;
  margin-top: 5rem;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.addToCart {
  background-color: black;
  color: white;
  border-radius: 1rem;
  box-shadow: none;
  border: none;
}

/* =================================================================================================================== */

/* SIGN-UP */

/* =================================================================================================================== */

.sign-up {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: white;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.sign-up p {
  margin: 4%;
  line-height: 2.25rem;
}

form {
  display: inline-block;
  position: relative;
  width: 65%;
  height: 2.7rem;
  margin-top: 10%;
}

placeholder {
  margin-left: 5%;
}

button[type="submit"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-end;
  border-radius: 1.5rem;
  border: 1px solid white;
  background: #e2574c;
  width: 35%;
  position: absolute;
  height: 97%;
  padding: 0px;
  color: white;
  font-size: 0.9rem;
  font-weight:bold;
  line-height: 0px;
}

input[type="email"] ::placeholder {
  margin-left: 5%;
}

label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

input[type="email"] {
  border-radius: 1.5rem;
  border: 0px;
  height: 100%;
  width: 100%;
}

.sign-up-image-background {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.26)), url(images/wave-bkgd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* =================================================================================================================== */

/* FOOTER */

/* =================================================================================================================== */

footer {
  background: #242424;
  color: white;
  width: 100%;
}

footer i{
  font-family: 'Playfair Display';
  font-size: 1rem;
  
}

footer a {
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
}

/* footer p {


} */

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding-top: 3%;
  padding-bottom:3%;
  height: auto;
  font-size: 1rem;
  text-decoration: none;
}

.address {
   width: 100%;
  text-align: center;
  margin-top: 0.5rem;
}

.social-mobile {
  display: inline-flex;
  width: 100%;
  text-align: center;
  margin-top: 0.85rem;
  justify-content: center;
}

.social-mobile ul {
  display: inline-flex;
  flex-wrap: wrap;
  width: 40%;
  justify-content: center;
}

.social-mobile li {
  margin: 5%;
}

.contact-link p {
  margin-top: 5%;
  margin-bottom: 5%;
}
.contact-link a {
  text-decoration: underline;
}

.aloha-adress {
  color: #969696;
}

.social-tablet {
  display: none;
}

.social-tablet i{
  display:flex;
}

.copyright p,
.contact-link p,
.contact-link a,
.aloha-adress p{
  font-family: 'Playfair Display';
}

/* =================================================================================================================== */



/* =================================================================================================================== */
                                                        /* MEDIA QUERIES */
/* -------------------------------------------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 600px) {


  /* titles */

.most-loved-products h1,
.sign-up-title-wrapper h1,
.About-Aloha h1{
  font-size: 2.8rem;
  font-style: italic;
  font-family: 'Playfair Display';
}

strong {
  font-size: 2.8rem;
}


  /* header */
  span.header-wrapper {
    justify-content: space-between;
    align-items: center;
    margin: 0px;
  }
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 5rem;
  }
  .logo {
    order: 1;
    width: 7rem;
  }
  .cart {
    height: 50px;
    width: 15%;
    border-right: 20px;
    background-position: top right;
    order: 3;
  }
  .top-navigation-links {
    border-top: none;
    text-align: center;
    order: 2;
    height: 3rem;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .top-navigation-links li {
    display: inline;
  }
  .top-navigation-links a {
    display: inline-block;
    margin-top: 25px;
    padding: 10px;
    color: #e2574c;
    font-size: 16px;
  }
  /* banner  */
  .banner {
    margin-top: 1%;
  }
  .new-collection p {
    font-size: 1.5rem;
  }
  .new-collection h1 {
    font-size: 3rem;
  }

  /* about */
  .about-content p{
    font-size:1rem;
  }

  /* shop section */
  .shop {
    height: 20rem;
    width: 100%;
  }

  .shop h3{
    font-size:2rem;
  }
  span.men-category-wrapper {
    height: 50%;
    width: 45%;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
  }
  span.trends-category-wrapper {
    flex-grow: 1;
    width: 20%;
    height: 50%;
  }
  span.glasses-category-wrapper {
    width: 20%;
    height: 50%;
  }
  span.sales-category-wrapper {
    width: 20%;
    height: 50%;
  }
  span.bags-category-wrapper {
    flex-grow: 1;
    width: 20%;
    height: 50%;
  }
  span.womens-category-wrapper {
    width: 36%;
    height: 50%;
    border-left: 0.5rem solid #fff;
    border-top: 0rem;
  }
  .womens-category,
  .bags-category,
  .sales-category,
  .glasses-category,
  .trends-category,
  .men-category {
    display: flex;
    align-items: center;
    text-align: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    background-position: center;
  }
  /* carousel */
  .most-loved-products {
    margin-top: 10%;
  }
  /* sign-up section */
  form {
    height: 3rem;
    margin-top: 0%;
    width: 50%;
  }
  button[type="submit"] {
    border-radius: 1.5rem;
    height: 96%;
  }
  /* footer */
  .contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    text-align: left;
    margin-left: 2%;
  }
  .copyright,
  .contact-link,
  .aloha-adress {
    margin-bottom: 2%;
  }
  .social-mobile {
    display: none;
  }
  .social-tablet {
    display: block;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    text-align: left;
    line-height: 2rem;
    margin-right: 5%;
  }
  .social-tablet a {
    text-transform: uppercase;
    display: inline-flex;
    align-items:center;
    width:100%;
  }

  .social-tablet h5{
 
    font-family:'Raleway';
    font-weight: 300;
    text-transform:capitalize;
  }

  .social-tablet i::before{
    width: 2rem;
  }
}

/* -------------------------------------------------------------------------------------------------------------------- */

/* 
/* multiple breakpoints for the shop section */ 

/* -------------------------------------------------------------------------------------------------------------------- */


@media screen and (min-width: 900px) {

 




  span.header-wrapper {
    justify-content: space-evenly;
  }
  .banner {
    background-size: cover, 14rem, cover;
    height: 40rem;
  }
  .About {
    display: flex;
    justify-content: center;
  }
  .About-Aloha {
    width: 55%;
  }
  .shop {
    height: 26rem;
    width: 100%;
  }
}

@media screen and (min-width: 1240px) {

   /* titles */

.most-loved-products h1,
.sign-up-title-wrapper h1,
.About-Aloha h1{
  font-size: 3.5rem;
  font-style: italic;
  font-family: 'Playfair Display';
}

strong {
  font-size: 3.5rem;
}

  .new-collection h1{
    font-size:3.5rem;
  }
  
  .About {
    margin-bottom: 0px;
  }
  .About-Aloha {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .about-content p{
    font-size:1.2rem;
  }
  .shop {
    height: 40rem;
    width: 100%;
  }
  .shop h3{
    font-size:2.5rem;
  }
  .caroussel-section {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }
  .flickity-wrapper {
    width: 100%;
    display: flex;
  }
  .flickity-slider {
    display: flex;
    width: 80%
  }
  .carousel-cell {
    width: 28%;
  }
  .carousel-cell img {
    width: 100%;
  }
  .flickity-enabled .flickity-page-dots {
    bottom: 0rem;
  }

  .social-tablet{
    width:10%;
  }
}
