/* general styling */



.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* above all content */
}

#shop[tabindex="-1"]:focus {
  outline: 0;
}

h1,
h2,
h3 {
  text-shadow: 2px 2px 4px hsla(0, 0%, 39%, .8);
}

h3 {
  font-family: "main";
  color: white;
  font-size: 1.4em;
  color: white;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  font-family: 'headings';
}

h4 {
  color: #e2574c;
  font-family: 'headings';
  font-size: 1.5rem;
}

.top-navigation-links li a {
  font-family: 'main';
  text-shadow: none;
  font-size: 1rem;
}

p {
  font-family: 'main-light';
  text-shadow: none;
  font-size: 1rem;
}

strong {
  font-family: 'headings-bold';
  text-shadow: 2px 2px 4px hsla(0, 0%, 39%, .8);
  font-size: 2rem;
  margin-left: 0.6rem;
}

/* titles */

.featured-title-wrapper,
.sign-up-title-wrapper,
.about-title-wrapper {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.most-loved-products h1,
.sign-up-title-wrapper h1,
.About-Aloha h1 {
  font-size: 2rem;
  font-family: "headings-i";
}

.most-loved-products h1,
.About-Aloha h1,
.most-loved-products strong,
.About-Aloha strong {
  text-shadow: none;
}


/* ===================================================================================================================== */

                                      /* header  */

/* ===================================================================================================================== */



header {
  display: flex;
}

span.header-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 5rem;
  margin-top: 5%;
  margin-left: 1%;
  margin-right: 1%;
}

.logo {
  background-image: url(images/aloha-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  align-items: left;
  height: 3rem;
  width: 50%;
  order: 1;
}

.cart {
  background-image: url(images/cart-icon.svg);
  background-size: contain;
  background-position: top right;
  height: 3rem;
  width: 50%;
  align-items: right;
  align-content: right;
  background-repeat: no-repeat;
  order: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  font-size: 1rem;
}

#cartCount {
  background-color: red;
  color: white;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  text-align: center;
}

.top-navigation-links {
  border-top: 0.05rem solid #d7d7d7;
  list-style: none;
  margin-top: 0.3rem;
  text-align: center;
  order: 3;
  width: 100%;
  height: 3rem;
}

.top-navigation-links li {
  display: inline;
}

.top-navigation-links a {
  display: inline-block;
  padding: 0.25rem;
  margin-top: 0.5rem;
  color: #e2574c;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
}


/* ===================================================================================================================== */

                                      /* BANNER */

/* ===================================================================================================================== */


.banner {
  margin-top: 5%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.25)), url(images/banner-girl.png), url(images/flower-bkgd.jpg);
  background-size: cover, 10rem, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, bottom center, center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30rem;
}

.new-collection {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.new-collection p {
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  z-index: 2;
}

.new-collection h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  z-index: 2;
  color: white;
} 

/* ===================================================================================================================== */

                                      /* about */

/* ===================================================================================================================== */

.About {
  margin-bottom: 5%;
}

.About-Aloha {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top:10%;
  margin-bottom:10%;
}

.about-content {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
  line-height: 2.25rem;
}

.about-content p {
  width: 90%;
  font-size: 1.15rem;
  text-align: center;
  font-family: 'main-light';
}


/* ===================================================================================================================== */

                                      /* SHOPPING CATEGORIES  */

/* ===================================================================================================================== */

.shop {
  height: 57rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  object-fit: contain;
  margin-bottom: 3rem;
}

span.men-category-wrapper {
  height: 25%;
  width: 100%;
  flex-grow: 2;
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  justify-content: center;
}
.men-category {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/mens-category.jpg);
}


span.trends-category-wrapper {
  flex-grow: 1;
  width: 45%;
  height: 25%;
  display: flex;
  border-right: 0.25rem solid white;
}
.trends-category {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/trends-category.jpg);
}


span.glasses-category-wrapper {
  flex-grow: 1;
  width: 45%;
  height: 25%;
  border-bottom: 0.25rem solid white;
}
.glasses-category {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/glasses-category.jpg);
}


span.sales-category-wrapper {
  flex-grow: 1;
  width: 45%;
  height: 25%;
  border-right: 0.25rem solid #fff;
}
.sales-category {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/sale-category.jpg);
  background-repeat: no-repeat;
}


span.bags-category-wrapper {
  flex-grow: 1;
  width: 45%;
  height: 25%;
}

.bags-category {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/bags-category.jpg);
}

span.womens-category-wrapper {
  flex-grow: 2;
  width: 100%;
  height: 25%;
  border-top: 0.25rem solid #fff;
  
}

.womens-category {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/womens-category.jpg);
}

.womens-category,
.bags-category,
.sales-category,
.glasses-category,
.trends-category,
.men-category {
  display: flex;
  align-items: center;
  text-align: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  justify-content: center;
  min-width: 100%;
  height: 100%;
  background-position: center;
}

/* ===================================================================================================================== */

                                      /* CAROUSSEL */

/* ===================================================================================================================== */

.most-loved-products {
  margin-top: 20%;
}

.flickity-enabled {
  position: relative;
  margin-top: 10%;
}


.carousel {
  width: 100%;
  height: 35rem;
  /* align-content: center;
  align-items: center;
  display:flex;
  flex-direction:column;
  */
} 

.carousel p {
  font-size: 0.8rem;
  color: #969696;
  font-family: 'main';
  margin-bottom:3%;
  text-align: center;
}

.carousel h4{
  text-align: center;
  margin-bottom:3%;

}



.carousel-cell1{

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-cell2 {
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  text-align: center;
  align-content: center;
  align-items: center;
}

.carousel-cell3 {
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  text-align: center;
  align-content: center;
  align-items: center;
}

.carousel-cell4 {
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  text-align: center;
  align-content: center;
  align-items: center;
} 

.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  align-content: center;
  align-items: center;
  line-height: 600px;
  font-size: 14px;
  color: black;
}

.flickity-prev-next-button .flickity-button-icon {
  fill: transparent;
}

.flickity-prev-next-button.flickity-button {
  background: none;
}

.flickity-enabled .flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: 3rem;
  margin-top: 5rem;
  list-style: none;
  text-align: center;
  line-height: 1;
}


.addToCart {
  background-color: black;
  color: white;
  border-radius: 1rem;
  box-shadow: none;
  border: none;
}

/* =================================================================================================================== */

                                        /* SIGN-UP */

/* =================================================================================================================== */


.sign-up {
  display: flex;
  flex-wrap: wrap;
  height: 25rem;
  width: 100%;
  color: white;
}

.sign-up p{
  margin:4%;
  line-height: 2.25rem;
}


form {
  display: inline-block;
  position: relative;
  width: 65%;
  height: 2.7rem;
  margin-top: 10%;
}
placeholder{
  margin-left:5%;
}

button[type="submit"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-end;
  border-radius: 1.5rem;
  border: 1px solid white;
  background: #e2574c;
  width: 30%;
  position: absolute;
  height: 97%;
  padding: 0px;
  color: white;
  font-size: 12px;
  line-height: 0px;
}

input[type="email"] ::placeholder{
  margin-left:5%;
}

label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
input[type="email"] {
  border-radius: 1.5rem;
  border: 0px;
  height: 100%;
  width: 100%;
}

.sign-up-image-background {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.26)), url(images/wave-bkgd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* =================================================================================================================== */

                                      /* FOOTER */

/* =================================================================================================================== */

footer {
  background: #242424;
  color: white;
  width: 100%;
  display:flex;
  flex-wrap:wrap;
}

footer a {
  color: white;
  font-size:0.9rem;
  text-decoration:none;
}
footer p {
  font-size:0.9rem;
}


.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin-top: 0.5rem;
  height: 20rem;
}

.address {
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
}

.social-mobile {
  display: inline-flex;
  width: 100%;
  text-align: center;
  margin-top: 0.85rem;
  justify-content: center;
}
.social-mobile ul{
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.social-mobile li{
  margin:5%;
}

.contact-link p{
  margin-top:5%;
  margin-bottom:5%;
}

.aloha-adress{
  color:#969696;
}

.social-tablet{
  display:none;
}




/* =================================================================================================================== */

/* Media queries tablet */

/* =================================================================================================================== */






/* 
@media screen and (max-width: 600px) {
  footer li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .social ul {
    display: flex;
    justify-content: center;
  }
  .social a {
    visibility: hidden;
  }
} */

/* -------------------------------------------------------------------------------------------------------------------- */

/* footer for tablet and desktop   */

/* -------------------------------------------------------------------------------------------------------------------- */

/* 
@media screen and (min-width: 600px) {
  .contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 0.5rem;
  }
  .address {
    width: 50%;
    text-align: left;
    color: white;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
  .social {
    width: 15%;
    color: white;
    margin-top: 0.5rem;
    text-align: left;
    font-size: 16px;
    display: flex;
  }
} */








/* media queries  */


/* -------------------------------------------------------------------------------------------------------------------- */

/* HEADER & NAVIGATION for TABLET & DESKTOP */

/* -------------------------------------------------------------------------------------------------------------------- */

 @media screen and (min-width: 600px) {

 

} 


/* -------------------------------------------------------------------------------------------------------------------- */

/* BANNER for TABLET & DESKTOP*/

/* -------------------------------------------------------------------------------------------------------------------- */


@media screen and (min-width: 600px) {


  /* header */


  span.header-wrapper{
    justify-content: space-between;
    align-items: center;
    margin:0px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 5rem;
  } 

  .logo {
    order: 1;
    width: 7rem;
  }

  .cart {
    height: 50px;
    width: 15%;
    border-right: 20px;
    background-position: top right;
    order: 3;
  }

  .top-navigation-links {
    border-top: none;
    text-align: center;
    order: 2;
    height: 3rem;
    width: auto; 
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .top-navigation-links li {
    display: inline;
  }
  .top-navigation-links a {
    display: inline-block;
    margin-top: 25px;
    padding: 10px;
    color: #e2574c;
    font-size: 16px;
  }



  /* banner  */

  .banner {
    margin-top:1%;
  }
  .new-collection p {
    font-size: 1.5rem;
  }
  .new-collection h1 {
    font-size: 3rem;
  }


  /* shop section */


  .shop {
    height: 20rem;
    width: 100%;
  }

  span.men-category-wrapper {
    height: 50%;
    width: 45%;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
  }
  .men-category {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/mens-category.jpg);
  }


  span.trends-category-wrapper {
    flex-grow: 1;
    width: 20%;
    height: 50%;
  }
  .trends-category {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/trends-category.jpg);
  }


  span.glasses-category-wrapper {
    width: 20%;
    height: 50%;

  }
  .glasses-category {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/glasses-category.jpg);
  }


  span.sales-category-wrapper {
    width: 20%;
    height: 50%;
  }
  .sales-category {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/sale-category.jpg);
    background-repeat: no-repeat;
  }


  span.bags-category-wrapper {
    flex-grow: 1;
    width: 20%;
    height: 50%;
  }

  .bags-category {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/bags-category.jpg);
  }

  span.womens-category-wrapper {
    width: 36%;
    height: 50%;
    border-left: 0.25rem solid #fff;
    border-top: 0rem;
    
  }

  .womens-category {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url(images/womens-category.jpg);
  }

  .womens-category,
  .bags-category,
  .sales-category,
  .glasses-category,
  .trends-category,
  .men-category {
    display: flex;
    align-items: center;
    text-align: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    background-position: center;
  }

/* carousel */

.flickity-enabled .flickity-slider{
  left:-10rem !important;
  /* I had to use important as the position was hardcoded */
} 




  /* sign-up section */

  form{
    height: 3rem;
    margin-top: 10%;
    width:50%;
  }
  button[type="submit"] {
    border-radius:1.5rem;
    height: 96%;
  }


  /* footer */

/* 
  footer{
    height:15rem;
  } */

  .contact{
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }

  .address{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:auto;
    text-align:left;
    margin-left:2%;

  }


  .copyright,
  .contact-link,
  .aloha-adress{

    margin-bottom:2%;
    
  }




.social-mobile{
  display:none;
}

.social-tablet{
  display:block;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  text-align: left;
  line-height: 2rem;
  margin-right:5%;

 
}

.social-tablet a{
  text-transform:uppercase;
}





} 















/* -------------------------------------------------------------------------------------------------------------------- */

/* shopping categories for tablet and desktop   */

/* -------------------------------------------------------------------------------------------------------------------- */


  
 


/* multiple breakpoints for the shop section */

@media screen and (min-width: 900px) {
  .shop {
    height: 26rem;
    width: 100%;
    
  }
}


  @media screen and (min-width: 1240px) {
    .shop {
      height: 40rem;
      width: 100%;
     
    }
  }

/* @media screen and (max-width: 600px) {
  .sign-up {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5rem;
  }
  .sign-up-form {
    display: flex;
    text-align: center;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sign-up-form h2 {
    text-align: center;
    line-height: 2rem;
    margin-top: -0.5rem;
    color: white;
    font-family: Playfair;
    font-size: 1.5rem;
    font-style: italic;
  }
  .sign-up-form p {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    color: white;
    font-family: Raleway;
  }
} */

/* -------------------------------------------------------------------------------------------------------------------- */

/* sign-up for tablet  */

/* -------------------------------------------------------------------------------------------------------------------- */

/* @media only screen and (max-width: 1240px) and (min-width: 600px) {
  .sign-up {
    margin-top: 2.5rem;
  }
  .form {
    flex-direction: row;
    width: 15rem;
    margin-top: 1.5rem;
    display: inline-flex;
  }
  .sign-up p {
    color: white;
    font-family: Raleway;
    font-size: 1rem;
    margin-top: 1rem;
  }
  .sign-up h2 {
    font-family: PlayfairDisplay;
    font-size: 2rem;
    font-style: italic;
    color: white;
  }
} */

/* --------------------------------------------------------------------------------------------------------------------- */

/* sign-up for desktop min width:1240px   */

/* --------------------------------------------------------------------------------------------------------------------- */

/* @media screen and (min-width: 1240px) {
  .sign-up {
    /* height:30rem; */

/* width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5rem;
  }
  .sign-up-form {
    display: flex;
    text-align: center;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sign-up-form h2 {
    text-align: center;
    line-height: 2.5rem;
    color: white;
    font-family: PlayfairDisplay;
    font-size: 2rem;
  }
  .sign-up-form p {
    margin-left: 15rem;
    margin-right: 15rem;
    line-height: 2.25rem;
    color: white;
    font-family: Raleway;
  }
  form { */

/* display: inline-flex; */

/* flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    width: 20%;
  }
  label {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border-radius: 1.5rem;
    border: 0px;
    width: 100%;
    height: 100%;
  }
  button[type="submit"] {
    border-radius: 1rem;
    background: #e2574c;
    border: 0px;
    color: white;
    font-size: 16px;
    padding-right: 0px;
    margin-right: 1%;
  }
  .sign-up-image-background {
    background-image: url(images/wave-bkgd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}  */